.SpellsMenuRoot {
    width: 100%;
    height: 100%;
}

.SpellsMenuPrecache {
    visibility: collapse;
}

#SpellsMenuContents,
#SpellsMenuOpen {
    visibility: collapse;
}

#SpellsMenuContents.Visible,
#SpellsMenuOpen.Visible {
    visibility: visible;
}

#SpellsMenuContents {
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.9);
}

#SpellsMenuClose {
    z-index: 15;
    height: fit-children;
    width: 100%;
    padding-top: 10px;
}

#SpellsMenuCloseButton {
    align: right top;
    z-index: 15;
    padding: 10px;

    background-color: rgba(0, 0, 0, 0.95);
    border-radius: 15%;
}

#SpellsMenuOpen {
    z-index: 15;
    height: fit-children;
    width: 100%;
    padding-top: 10px;
}

#SpellsMenuOpenButton {
    align: right top;
    z-index: 15;
    padding: 10px;

    color: #FFFFFF;
    background-color: rgb(229, 57, 53);
    border-radius: 15%;
}

#SpellsMenuTitle {
    font-size: 30px;
    letter-spacing: 3px;
}

#SpellsMenuDescription {
    font-size: 18px;
    letter-spacing: 2px;
}

#SpellsMenuHeroesBlock {
    width: 100%;
    flow-children: down;
    height: 100%;
}

.SpellsMenuHeroesContents {
    width: 100%;
    flow-children: right-wrap;
    vertical-align: top;
    height: fit-children;
    padding: 60px 30px 40px;
    transition: width 0.25s linear 0s;
}

#SpellsMenuSpellsBlock {
    width: 50%;
    height: fit-children;
    align: center center;
    flow-children: right-wrap;
    margin-top: 100px;
}

.SingleSpellPanel {
    flow-children: down;
    margin-right: 32px;
    background-color: rgba(0, 0, 0, 0.99);
}

.CpCostIndicator {
    align: center center;
}

.HeroPanel {
    width: 64px;
    height: 36px;
}

#HeroImage {
    width: 64px;
    height: 36px;
    align: center center;
    z-index: 2;
}

.SpecialPanel {
    width: 64px;
    height: 64px;
}

#SpecialImage {
    width: 64px;
    height: 64px;
    align: center center;
    z-index: 2;
}